body { margin: 0 auto;  padding: 0;  font-family: 'Avenir-roman'; max-width: 1700px; }

$imagePath: "../img";
/*$fontPath: "../fonts";*/

/*@font-face {
    font-family: 'Avenir';
    src:url('#{$fontPath}/Avenir-Book.woff2') format('woff2'),
        url('#{$fontPath}/Avenir-Book.woff') format('woff'),
        url('#{$fontPath}/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-roman';
    src:url('#{$fontPath}/Avenir-Roman.woff2') format('woff2'),
        url('#{$fontPath}/Avenir-Roman.woff') format('woff'),
        url('#{$fontPath}/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src:url('#{$fontPath}/Avenir-Light.woff2') format('woff2'),
        url('#{$fontPath}/Avenir-Light.woff') format('woff'),
        url('#{$fontPath}/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
*/




.font-size-2{ font-size: 1.2rem;
	@media(max-width: 576px){
		font-size:0.9rem;  
	}
 }

.overlay{ background: rgba(0,0,0,0.8); position: absolute; right: 0; top:0; left:0; bottom: 0;     z-index: 1;}
.inneroverlay{ @extend .overlay;  background-color: rgba(0,0,0,0.6); }
.darkoverlay{ @extend .overlay;  background-color: rgba(0,0,0,0.9); }

h2,h3{font-family: 'Avenir-roman'; }

/*== Common block heading ==*/
.heading{ 
	min-height: 175px; display:flex; align-items:center; justify-content:center;  background:url("#{$imagePath}/heading-texture.png") center no-repeat; background-size: 150px; margin-bottom: 25px;
	h2{ color:$gray-800;    font-weight: 500;  
		span{ color:#f47d35;}
		@media(max-width: 576px){
			    font-size: 1.7rem; text-align: center;
		}
	}
}

.graphical-heading{ 
	h1{ font-weight:bold; color:#f1f1f1;      line-height: 1; margin-bottom: 0;
		@media (max-width: 767px){
	 		    font-size: 4rem;
	 	}
	 	@media (max-width: 576px){
	 		    font-size: 3rem;
	 	}
	}
	h2{ font-size: 2.8rem; position:relative; top:-25px; 
		@media (max-width: 767px){
	 		    font-size: 2rem;
	 		    top:-10px;
	 	}
	 	@media (max-width: 576px){
	 		    font-size: 1.4rem;
	 	}
	}
}




/*== Font Small size bewlow 576px  ==*/
.display-sm-3{ 
	@media(max-width: 576px){
			font-size: 2.5rem;		
		}
	
}

.media-body{ font-size: 14px;
	h5{ 
		@media(max-width: 576px){
			font-size:1rem;
		}
	}	
}


/*Button common*/
.btn-common{  background:transparent; border: 1px solid #ff7624; padding:8px;  border-radius: 0; color:#ff7624; text-decoration: none; min-height: 120px; position:relative; cursor: pointer;
	background-size: 100px 100px; /* some initial size to get the slanted appearance */ 
    background-position: -120px 100px; /* negative positioning to hide it initially */
    background-repeat: no-repeat;
    transition: all ease 0.5s;     max-width: 100px;
    background-image: linear-gradient(to bottom, #e1e1e1 0%,#e1e1e1 50%,#e1e1e1 52%,#e1e1e1 100%);
    display: inline-flex; justify-content:space-between; flex-direction:column;     min-width: 95px; align-items:inherit;
 }
.btn-common:hover{ text-decoration: none; background-size: 100% 100%; /* 200% because gradient is colored only for 50% */
  background-position: 0px 0px; /* bring it fully into view */ color:#ff7624;  }
.btn-common1{ @extend .btn-common; background-color: #f47d35; color:#fff; background-image:  linear-gradient(to bottom, #e25500 0%,#e25500 100%);  }
.btn-common1:hover{ color:#fff;  }



/*== Header ==*/
header{   position:relative;
	
}

header.career-detail{
	@media(min-width: 767px){
				min-height:150px;
			} 
	.navbar-brand{ max-width: 191px;}
}



/*== navbar ==*/
nav.navbar{
		@media(min-width: 768px){
			 position:fixed; top:10px; right:2%;  transition:.4s ease-in-out;  z-index: 2;     padding: 10px 6rem;
		}
		@media(min-width: 1550px){
			    padding: 10px 10rem;
		}
		@media(max-width: 767px){
			 z-index:2; background:#fff;
		}
}
.navbar-brand{
		img.home{ display: none; 
			 @media(max-width: 767px){
			 	 display:block; max-width:120px;
			 }
		}				
	}
.navbar-toggler{ outline: none;
		i{ 	font-size: 1.50rem;

		}
	}

.navbar-collapse{  
	@media(max-width: 767px){
		background: rgba(0,0,0,0.7); margin: 0 -16px; padding: 0 20px;  position: absolute; width: 100%; top: 3.2rem;
	} 		
} 

.navbar-nav{     align-items: center;		 
	 @media(max-width: 767px){
				padding: 10px 0;
			}
	 li{   
	 	@media(max-width: 767px){
				font-size:14px;	
			}
		 a.nav-link{ color:$gray-100; position:relative;
				@media(min-width: 768px){
				  	 margin: 0 5px;
				}					
		  }
		  & :before{ content: ""; position: absolute; top: 0; right: 8px; height: 2px; width: 0%; background: #f47d35; transition: .4s ease; }
		  a.nav-link:hover::before{ width: 50%;}
		  /*&.active a::before{ width: 50%; }*/
		  &.active a.nav-link{ color:#f47d35 !important; }
	 }
}


/*INNER BANNER - SERVICES PAGE */
.innerbanner{ background:url("#{$imagePath}/services-bg.jpg") center no-repeat; background-size:cover; height:80vh; width: 100%; position:relative; 
	.heading{ z-index: 2; position:relative;   background:url("#{$imagePath}/heading-texture1.png") center no-repeat; min-height: 200px; min-width: 220px;
		h2{  color:#f47d35;
			span{ color:#fff;}
			@media(min-width: 767px){
				 font-size: 2.5rem;
			}
		}
		@media(min-width: 1400px){ 
			min-height: 250px; min-width: 250px; background-size: 100%;
		}
	}
	p{ position:relative; z-index: 2; color:$gray-300; 
		@media(min-width: 767px){
				max-width:75%;
			}
	}
	img{     z-index: 2;
		@media(max-width: 576px){
			max-width: 240px;
		}
	}
}


/*SUBHEADER FOR INNER PAGES*/
header.subheader{ 
	nav.navbar{ 
		@media(min-width: 768px){
			width:100%; right:0; justify-content:space-between;
		}
		.navbar-brand{ 
				img{ 
					@media(max-width: 767px){
			 	 		display:block; max-width:120px;
			 	 	}
			 	}
		 }
	}
	.navbar-collapse{ flex-grow: 0;}
}


/*== Footer ==*/
footer{ background-color: darken(white, 4%); padding:5rem 0; margin-top: 3rem;
	h4{ 
		@media(max-width: 576px){
			font-size: 1.2rem;
		}
	}
	/*== Footer nav ==*/
	.nav{
		.nav-item{ margin:0 0 25px; 
			a.nav-link{ color:$gray-800;  font-weight: 600;
				
			}
		}
	}
}

footer.ux-studio{ margin-top: 0rem;  }